# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
data/
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
downloads/
eggs/
.eggs/
parts/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
